* {
    font-family: Roboto, sans-serif;
    margin: 0;
}

header,
footer {
    background-color: rgb(56, 56, 105);
    margin: 0 auto;
}

footer { 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-header {
    border: solid red;
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    flex: 1;
}

.media-header {
    border: solid red;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    width: fit-content;
    justify-content: space-around;
    padding-bottom: 50px;
    flex: 1;
}

.content-header {
    border: solid red;
    flex: 1;
    padding: 10px;
    width: 400px;
}

.headerimg {
    width: 500;
    height: 250px;
}

.title {
  font-size: 24px;
  font-weight: 900;
  margin-top: 20px;
  text-align: center;
}

.container {
    border: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 24px;

}

.info {
    max-width: 100px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

.quote-container {
    border: solid red;
    display: flex;
    flex: 1;
    justify-content: center;   
    background-color: rgb(170, 172, 173); 
    padding: 50px;
}

.quote {
    max-width: 600px;
    font-size: 24px;

}


.thumbnail {

    width: 100px;
    height: 100px;
}
