* {
    font-family: Roboto, sans-serif;
    margin: 0;
}

header,
footer {
    background-color: #b5838d;
    color: #E5E7EB;
    margin: 0 auto;
    font-size: 18px;
}

footer { 
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    flex: 1;
    margin-bottom: 5px;
    padding-top: 8px;
}

.logo {
    font-weight: 800;
}

.media-header {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.content-header {
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 700px;
    height: 400px;
    margin: 0;
    padding: 50px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.header-text {
    color: #E5E7EB;
    font-size: 18px;
}

.headerimg {
    width: 500;
    height: 300px;
    padding: 50px;
}

.title {
  font-size: 36px;
  font-weight: extra-bold;
  margin-top: 20px;
  text-align: center;
  color: #332335;
}

.info {
    max-width: 200px;
}

.text {
    text-align: center;
    padding: 5px;
    color: #332335;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 125px;

}

.info-img {
    border-radius: 15px 0px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    font-size: 14px;
}

.quote-container {
    display: flex;
    flex: 1;
    justify-content: center;   
    background-color: #ffcdb2; 
    padding: 50px;
}

.quote {
    max-width: 600px;
    font-size: 36px;
    font-style: italic;
    color: #F9FAF8;

}

.signature {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
}

.calltoaction {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ec9e8b;
    padding: 3em;
    margin: 100px 200px;
}

.info-action {
    display: block;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
    
}
.right {
    display: block;
    padding: 0px;
    margin: 0px;
}

.signup {
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
}

button {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #F9FAF8;
    background-color: #ec9e8b;
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    margin-top: 5px;
    padding: 5px 25px;
}